* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1f1f1f;
    color: #fff;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 25px;
    font-weight: 600;
}

.logo span {
    color: rgb(255, 225, 0);
}

.nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0.85;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav span {
    color: rgb(255, 225, 0);
}

.nav a:hover {
    transform: scale(1.15);
}


.menu-mobile {
    display: none;
    font-size: 20px;
    cursor: pointer;
}